

body {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  
}
#start, #question-container, #final-score, #highscores-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px;
}
#timer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px;
}
#score-display {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 40px;
    padding: 10px;
}
#highscores-link {
    position: absolute;
    top: 0;
    left: 0;
    margin: 40px;
    padding: auto;

}
#back-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: auto;
    
}

#highscores-list {
    padding: 10px;
    margin: 40px;
    list-style-type: none;
    padding: 10px;
}




/* button styles  */
button {
	background-color:#44c767;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	border-radius:17px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 31px;
	text-decoration:none;
    margin: 15px;
    align-items: center;
    
}
	button:hover {
	background-color:#5cbf2a;
}
 button:active {
	position:relative;
	top:1px;
}
 
    

    

