



* {
    font-family: monospace;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding: 50px;
}

#time {
    margin-right: 20px;
}

#scores {
    display: inline;
}

#question, #answer-btn {
    display: none;
}



h1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    text-align: center;
    font-size: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

}

button{
  background-color: #4CAF50; /* Green */
  position: relative;
  border: none;
  color: white;
  padding: 15px 32px;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

button:hover{
    background-color: #357b37; /* Green */

}